<section class="experience-stack" #sectionRef>

  <div class="exp-panel">
    <div class="exp-content">
      <img src="assets/logos/awc-logo.png" class="exp-logo" />
      <h3>Software Developer</h3>
      <p class="exp-org">atworkCare Inc.</p>
      <p class="exp-meta">Mississauga · 2024 — Present</p>

      <ul>
        <li>Built internal AI tooling for workflows & insights</li>
        <li>Worked with Angular, AWS, RAG & LLM pipelines</li>
      </ul>
    </div>
  </div>

  <div class="exp-panel">
    <div class="exp-content">
      <img src="assets/logos/york.png" class="exp-logo" />
      <h3>Web Developer</h3>
      <p class="exp-org">York University</p>
      <p class="exp-meta">2023 — 2024</p>

      <ul>
        <li>Redesigned tutoring platform UI</li>
        <li>Improved attendance by 30%</li>
      </ul>
    </div>
  </div>

</section>
