<section class="relative flex flex-col items-center justify-center h-screen w-full overflow-hidden text-center ">
  <!-- 3D Canvas -->
  <canvas #canvas3d class="absolute inset-0 w-full h-full"></canvas>

  <!-- Hero Text -->
  <div class="relative z-10 px-6">
    <h1 class="text-5xl md:text-7xl font-extrabold mb-4">
      Hi, I’m <span class="text-[var(--accent-color)]">Prakriti Biswas</span>
    </h1>
    <p class="text-lg md:text-xl text-[var(--muted-text)] max-w-xl mx-auto">
      Frontend Developer · Angular · Three.js · Creative UI
    </p>
  </div>

<button class="magnetic-btn mt-8 px-6 py-3 rounded-xl  text-white font-semibold">
  View My Work
</button>

  <!-- Scroll Hint -->
  <div
    class="absolute bottom-10 left-1/2 -translate-x-1/2 text-sm text-gray-500 animate-bounce z-10"
  >
    scroll ↓
  </div>
</section>
